{% extends 'templates/base/index.html' %}
{% block contenido %}
    <div class="container col-md-10" style="padding-top: 3%">
    <h2>Funciones</h2>
    <form action="#">
    <div class="form-group">
        <div class="row col-md-6">
            <div class="col-md-8">
                <input type="text"  name="q" class="form-control" placeholder="Busqueda"><br>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn-primary form-control">BUSCAR</button>
            </div>
        </div>
    </div><hr><br>
    </form>
        <table class="table">
            <thead>
                <tr>
                    <td>No.</td>
                    <td>Nombre(s)</td>
                    <td>Apellido(s)</td>
                    <td>Email</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% if autores %}
                {% for autores in autores %}
                    <tr>
                        <td>{{ autores.id }}</td>
                        <td>{{ autores.nombre }}</td>
                        <td>{{ autores.apellidos }}</td>
                        <td>{{ autores.email }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'editar_autores_F' autores.id %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'eliminar_autores_F' autores.id %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <h3>No hay registros</h3>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}